* {
    font-family: 'Noto Serif', serif;
}

body {
    display: flex;
}

html {
    background-image: url('images/ff14ew-patch-6-1-newfound-adventures.jpeg');
    background-repeat: no-repeat;
    display: flex;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: row;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0rem .25rem .5rem rgb(0 0 0 / 15%);
}

.info {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem 0 0;
    gap: 10px;
}

.container-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    background-color: rgb(238, 238, 238);
    padding-top: 5rem;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding-top: 100px;
}

img {
    height: 50%;
    width: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#register {
    display: flex;
    flex-direction: row;
}

.submit-button>p {
    padding-top: 1rem;
}

.submit-section {
    margin-bottom: 9rem;
}

.text-container, .form-container, .submit-section {
    padding: 20px;
}
/* get vertical banner to scale properly with responsiveness of page */
/* Once page sizes gets to a certain width, banner turns to background image of webpage */