body {
    display: flex;
    background-image: url(images/ff14ew-patch-6-1-newfound-adventures.jpeg);
    background-repeat: no-repeat;
    /* background-position: -60% 50%; */
    background-size: contain;
}

html {
    display: flex;
    height: 100vh; 
}

.content {
    display: flex;
    flex-direction: row;
}

.emphasis {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0rem .25rem .5rem rgb(0 0 0 / 15%);
}

.form-container>p {
    font-weight: bold;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem 0 0;
    gap: 10px;
}

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(238, 238, 238);
    padding: 5rem 0;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    padding-top: 13rem;
}

img {
    width: 40vw;
    padding-top: 100px;
    background-color: rgba(0, 0, 0, 0.4);
}

#register {
    display: flex;
    flex-direction: row;
}

.submit-button>p {
    padding-top: 1rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: bold;
}

.text-container, .form-container, .submit-section {
    padding: 25px;
}

button {
    background-color: rgb(135, 206, 235);
      align-items: center;
      background-clip: padding-box;
      border: 1px solid transparent;
      border-radius: .25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-size: 16px;
      font-weight: 600;
      justify-content: center;
      line-height: 1.25;
      margin: 0;
      min-height: 3rem;
      padding: calc(.875rem - 1px) calc(1.5rem - 1px);
      text-decoration: none;
      transition: all 250ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      vertical-align: baseline;
      width: auto;
}
    
button:hover,
button:focus {
  background-color: rgb(135, 206, 235);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;}
    
button:hover {
    transform: translateY(-1px);
}
    
button:active {
    background-color: rgb(66, 176, 219);
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}

a {
    color: rgb(135, 206, 235);
}

@media only screen and (max-width: 1000px) {
    #register {
      flex-direction: column;
    }

    .content, 
    #register {
        flex-direction: column;
    }

    .container-right, .submit-section, .text-container {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .container-right {
        padding-top: 0;
    }

    .info {
        padding-right: 0;
    }

    body {
        background-size: cover;
        background-position: center;
    }

    img {
        width: 100vw;
        height: auto;
    }
}